@font-face
{
    font-family: Inconsolata-Bold;
    src:url(fonts/Inconsolata-Bold-manu.ttf);
}

@font-face
{
    font-family:SourceSansPro-Regular;
    src:url(fonts/SourceSansPro-Regular_text.ttf);
}

body
{
    font-family: SourceSansPro-Regular;
    background: url(image/books.jpg) no-repeat content-box;
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration:none;
}
#sidebar
{
    width:20%;
    height:100%;
    
    float: left;
}

#sidebar #info
{
    width: 100%;
    height: 30%;
    background: rgba(30, 153, 190, 0.637);
}

#sidebar #nav
{
    width: 100%;
    height: 70%;
    background: rgba(60, 117, 131, 0.575);
}

#sidebar #nav ul
{
    list-style:none;
}

#main_content
{
    width: 80%;
    height: 100%;
    float: right;
}

#header
{
    width: 100%;
    height: 10%;
    padding-top:10px;
    text-align: center;
    color:#123432;
    background:#fbfeff7c;
    border-bottom: 3px solid #ffffffa2;
    border-radius:10px;
}
#form_content
{
    width: 100%;
    height: 88.5%;
}

