
*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration:none;
}

button:hover
{
    cursor: pointer;
}


#sidebar
{
    width:20%;
    height:100%;
    position: fixed;
    float: left;
}

#sidebar #info
{
    width: 100%;
    height: 30%;
    background: rgba(30, 153, 190, 0.637);
}

#sidebar #nav
{
    width: 100%;
    height: 70%;
    background: rgba(60, 117, 131, 0.575);
}

#sidebar #nav ul
{
    list-style:none;
    text-align: center;
}

#sidebar #nav ul li
{
    background: #123432;
    transition: .35s;
}
#sidebar #nav ul button
{
    color:#fff;
    background: none;
    font-size: 125%;
    border:none;
    padding: 10px 35%;
    
    outline: none;
}
#sidebar #nav ul li:hover
{
    background: rgb(62, 112, 124);
}

#main_content
{
    width: 80%;
    height: 100%;
    float: right;
}

#header
{
    width: 100%;
    height: 12%;
    padding-top:10px;
    text-align: center;
    color:#123432;
    background:#fbfeff7c;
    border-bottom: 3px solid #ffffffa2;
    border-radius:10px;
}
#form_content
{
    width: 100%;
    height: 90%;
    padding: 20px;
    
}

#form_content form h2
{
    text-align: center;
    color:#fff;
    padding: 15px;
    font-size: 160%;
}

#form_content form
{
    background:rgba(105, 147, 163, 0.712);
    border-radius: 20px;
}
