body
{
    font-family: SourceSansPro-Regular;
    background: url(image/books.jpg) no-repeat content-box;
}
.main_contain_reg_page
{
	width :300px;
	padding :10% 0 0;
	margin :auto;
	
}
.main_contain_reg_form
{
	position : relative;
	z-index : 1;
	background : rgba(7,40,195,0.8);
	max-width : 360px;
	margin : 0 auto 100px;
	padding : 45px;
	text-align : center;
}
.main_contain_reg_form input
{
  font-family : "Roboto" , "sans-serif";
  outline : 1;
  background  : #f2f2f2;
  width : 100%;
  border: 0;
  margin : 0 0 15px;
  padding : 15px;
  box-sizing : border-box;  
  font-size : 14px;
  }
 .main_contain_reg_form  button
 {
	 font-family :"Roboto", "sans-serif";
	 text-transform : uppercase;
	 outline : 0;
	 background :#4CAF50;
	 width : 100%;
	 border : 0px;
	 padding : 15px;
	 color :#FFFFFF;
	 font-size : 14px;
	 cursor : pointer;
	 
 }